<header class="site-header" role="banner">

  <div class="logo">
    <div class="wrapper top-row">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      <div>
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </div>
      <div class="right-row">
        <div class="top-right">
          <div class="left">
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
          <div class="right">
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter-square"></i></a>
          </div>
        </div>
        <div class="bottom-right">
          <i class="fa fa-phone"></i>
          <a href="#">(951) 809-5556</a>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs">
    <div class="wrapper bottom-row">
      {% if page_paths %}
        <nav class="site-nav">
          <div class="trigger">
            {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </nav>
      {% endif %}
    </div>
  </div>
</header>
