<header class="site-header" role="banner">

  <div class="logo">
    <div class="wrapper top-row">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      <div>
        <a class="site-title" href="{{ "/" | relative_url }}">
          <div class="nav-image"></div>
        </a>
      </div>
      <div class="right-row">
        <div class="top-right">
          <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter-square"></i></a>
        </div>
        <div class="bottom-right">
          <div class="nav-item">
            <i class="fa fa-phone"></i>
            <a href="tel:+9518095556">951.809.5556</a>
          </div>
          <div class="nav-item">
            <i class="fa fa-map-marker"></i>
            <a href="https://www.google.com/maps?q=1243+W+BISHOP,+SANTA+ANA,+CA&tbas=0&biw=853&bih=756&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjGkbvUvb_VAhUVwWMKHfTADp8Q_AUICigB" target="_blank">1243 W BISHOP, SANTA ANA, CA</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs">
    <div class="wrapper bottom-row">
      {% if page_paths %}
        <nav class="site-nav">
          <div class="trigger">
            <a class="page-link" href="/"><i class="fa fa-home"></i></a>
            {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </nav>
      {% endif %}
    </div>
  </div>
</header>
