---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {

  .wrapper {
    padding: 0;
    max-width: 1000px;
  }
  .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;

    .right-row {
      width: 50%;
      max-width: 500px;
      height: 50px;
      border-radius: 0 0 7px 7px;
      background: $grey-color-dark;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .fa {
        padding: 4px 2px;
        font-size: 30pt;
        color: #fff;

        &:last-child {
          padding-right: 8px;
        }
      }
    }

    @media (max-width: 600px) {
      .right-row {
        display: none;
      }
    }
  }
}

.banner-img {
  width: 100%;
}

.video-container {
  position: relative;

  video {
    width: 100%;
  }

  .video-container,
  .video-overlay,
  .headline-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .video-overlay {
    background: rgba(29,46,65,.5);
    // background: radial-gradient(#333 50%, #222 60%, #111 70%, #000 80%);
  }

  .headline-container {
    text-align: center;
  }

  .headline {
    padding-top: 75px;
    color: #fff;
    font-weight: 700;
    font-family: 'Exo', sans-serif;

    p {
      font-size: 48pt;
      line-height: 48pt;
    }
  }
}
