---
layout: default
---

<div class="home">

  <div class="video-container">
    <video autoplay muted loop>
      <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div>
    <div class="headline-container">
      <div class="headline">
        <p>NUTRITION &</p>
        <p>PERSONAL TRAINING</p>
      </div>
    </div>
  </div>
  <div class="section one" style="display: flex;flex-direction:row;">
    <div class="">
      <h3>Remote Training Programs starting at $30/month</h3>
      <p>Anim voluptate tempor irure ullamco elit labore sint ex excepteur tempor mollit fugiat culpa sint aliqua. Amet elit laborum aliqua culpa excepteur incididunt pariatur reprehenderit et magna dolore dolor exercitation ad amet.</p>
      <button type="button" name="button">LEARN MORE</button>
    </div>

    <div class="">
      <h3>In-Gym Strength Training Programs starting at $60/month</h3>
      <p>Anim voluptate tempor irure ullamco elit labore sint ex excepteur tempor mollit fugiat culpa sint aliqua. Amet elit laborum aliqua culpa excepteur incididunt pariatur reprehenderit et magna dolore dolor exercitation ad amet.</p>
      <button type="button" name="button">LEARN MORE</button>
    </div>

  </div>
  <div class="section two">
    <h3>Power  Lifting Power Punching</h3>
    <p>Anim voluptate tempor irure ullamco elit labore sint ex excepteur tempor mollit fugiat culpa sint aliqua. Amet elit laborum aliqua culpa excepteur incididunt pariatur reprehenderit et magna dolore dolor exercitation ad amet.</p>
  </div>
  <div class="section one" style="display: flex;flex-direction:row;">
    <div class="">
      <h3>Testimonial 1</h3>
      <p>Anim voluptate tempor irure ullamco elit labore sint ex excepteur tempor mollit fugiat culpa sint aliqua. Amet elit laborum aliqua culpa excepteur incididunt pariatur reprehenderit et magna dolore dolor exercitation ad amet.</p>
      <button type="button" name="button">LEARN MORE</button>
    </div>

    <div class="">
      <h3>Testimonial 2</h3>
      <p>Anim voluptate tempor irure ullamco elit labore sint ex excepteur tempor mollit fugiat culpa sint aliqua. Amet elit laborum aliqua culpa excepteur incididunt pariatur reprehenderit et magna dolore dolor exercitation ad amet.</p>
      <button type="button" name="button">LEARN MORE</button>
    </div>

  </div>

</div>
