---
layout: default
---

<div class="home">

  <div class="video-container">
    <video autoplay muted loop>
      <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div>
    <div class="headline-container">
      <div class="headline">
        <p>NUTRITION &</p>
        <p>PERSONAL TRAINING</p>
      </div>
    </div>
  </div>
  <div class="section one">
    <h3>Power Lifting, Power Punching</h3>
    <p>Anim voluptate tempor irure ullamco elit labore sint ex excepteur tempor mollit fugiat culpa sint aliqua. Amet elit laborum aliqua culpa excepteur incididunt pariatur reprehenderit et magna dolore dolor exercitation ad amet.</p>
  </div>
  <!-- <div class="section two">
    <div>
      <h3>What makes RepMax different?</h3>
      <p>Deserunt occaecat veniam ad consectetur fugiat excepteur nisi esse irure duis elit. Pariatur dolore laborum exercitation irure fugiat exercitation duis quis nulla officia non voluptate nisi nostrud commodo veniam duis. Velit eiusmod occaecat ex nostrud labore officia velit eiusmod laboris sit exercitation do.</p>
    </div>
  </div> -->

</div>
